.center
  margin: 0 auto
  text-align: center
  .item
    border: none

.disc-container
  display: inline-flex
  .disc
    margin: 10px
    box-shadow: 2px 2px 15px #888888
    font-size: 25px
    font-weight: 700
    color: white
    background: blueviolet
    height: 100px
    width: 100px
    border-radius: 50%
    line-height: 100px
    vertical-align: middle
  .activated
    background: darken(blueviolet, 10%)
    box-shadow: 1px 1px 10px #888888
