/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

.button-container{
  text-align: center;
  margin: 0 auto;
  display: list-item;
  height: 80vh;
  .list{
    top: 50%;
    transform: translate(0, -50%);
    .item{
      border:none;
      button{
        width: 50%;
        min-width: 250px;
      }
    }
  }
}

.idContainer{

}
