<ion-view title="Create IDs">
  <ion-content class="has-header">
    <div class="list padding">
        <div class="item" ng-class="{old:status.fr,new:!status.fr}" ui-sref="friendsRelatives">{{status.fr?"Edit":"Create"}} Friends/Relative ID</div>
        <div class="item" ng-class="{old:status.social,new:!status.social}" ui-sref="social">{{status.social?"Edit":"Create"}} Social ID</div>
        <div class="item" ng-class="{old:status.business,new:!status.business}" ui-sref="business">{{status.business?"Edit":"Create"}} Business ID</div>
        <div class="item" ng-class="{old:status.custom,new:!status.custom}" ui-sref="custom">{{status.custom?"Edit":"Create"}} Custom ID</div>
    </div>
  </ion-content>
</ion-view>
