<ion-view title="Friends/Relatives ID Template">
  <ion-content class="has-header">
    <form action="">
      <div class="list">
        <div class="item item-input padding image-input">
          <img  ng-src="{{data.img}}" ng-click="getImage()">
          <label class="item-input">
            <input type="text" placeholder="Name" ng-model="data.name" required>
          </label>
        </div>
        <label class="item item-input">
          <i class="ion-location large location col-10"></i>
          <textarea placeholder="Address"  ng-model="data.add" required></textarea>
        </label>
        <label class="item item-input">
          <i class="ion-social-whatsapp whatsapp col-10"></i>
          <input type="tel" placeholder="Mobile No." ng-model="data.mob" required>
        </label>
        <label class="item item-input">
          <div class="col-20"> DOB</div>
          <input type="date" placeholder="Date Of Birth" ng-model="data.dob">
        </label>
        <label class="item item-input">
          <i class="ion-waterdrop bloodgroup col-10"></i>
          <input type="text" placeholder="Blood Group like O+ AB-" ng-model="data.bloodGroup" pattern="(A|B|AB|O|a|b|ab|o)[+-]" >
        </label>
        <div align="right" class="padding">
          <button type="submit" class="button button-outline button-balanced button-small" align="right" ng-click="save(false)">Save
          </button>
          <button type="submit" class="button button-outline button-energized button-small" align="right" ng-click="save(true)">Save and Upload
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
