<!--<ion-view title="Your ID">-->
  <!--<ion-content class="has-header">-->
    <!--<div class="qrContainer">-->
      <!--<qr ng-if="show" type-number="14" correction-level="'Auto'" size="200" input-mode="'Auto'" text="data" image="true"></qr>-->
    <!--</div>-->
  <!--</ion-content>-->
<!--</ion-view>-->


<ion-view title="Create IDs">
  <ion-content class="has-header">
    <div class="list">
      <a class="item not-active" ui-sref="friendsRelatives" >Friends/Relative ID</a>
      <a class="item" ui-sref="social">Social ID</a>
      <a class="item" ui-sref="business">Business ID</a>
      <a class="item" ui-sref="custom">Custom ID</a>
    </div>
  </ion-content>
</ion-view>
