<ion-view title="Global IDs">
  <ion-content class="has-header padding">
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search" autocomplete="on">
      </label>
      <a class="item item-avatar image-input" ng-repeat="data in list | filter:search" ng-click="show(data.key)">
        <img ng-src="{{data.img}}">
        <h2>{{data.name}}</h2>

        <p>{{data.profession || data.mob || data.facebookID || data.email}}</p>
      </a>


    </div>
   </ion-content>
  </ion-view>


<script id="viewSavedId.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-clear button-assertive" align="right" ng-click="closeModal()">Done</button>
      <h1 class="title">ID</h1>
    </ion-header-bar>
    <ion-content>
      <div class="card list">
        <div class="item item-input padding image-input">
          <img ng-if="data.img" ng-src="{{data.img}}">
          <label class="item no-border">
            <div class="row"><h2>{{data.name | capitalize:true}}</h2></div>
            <div class="row" ng-if="data.profession">
              <i class="ion-briefcase padding-right"></i>

              <p>{{data.profession}}</p>
            </div>
            <div class="row" ng-if="data.status">
              <i class="ion-chatbubble whatsapp padding-right"></i>

              <p>{{data.status}}</p>
            </div>
          </label>
        </div>
        <div class="">
          <div class="item item-input no-border" ng-if="data.email">
            <i class="ion-email  gmail col-10"></i>
            <a ng-href="mailto:{{data.email}}">{{data.email}}</a>
          </div>
          <div class="item item-input no-border" ng-if="data.mob || data.officeNo">
            <i class="ion-android-call whatsapp col-10"></i>
            <button ng-if="data.mob" class="button button-small balanced" ng-click="callNumber(data.mob)">{{data.mob}}</button>&nbsp;&nbsp;
            <button ng-if="data.officeNo" class="button button-small balanced" ng-click="callNumber(data.officeNo)">{{data.officeNo}}</button>
          </div>
          <div class="item item-input no-border" ng-if="data.dob">
            <i class="ion-calendar calendar col-10"></i>
            <em>{{data.dob | date:'mediumDate'}}</em>
          </div>
          <div class="item item-input no-border" ng-if="data.bloodGroup">
            <i class="ion-waterdrop assertive col-10"></i>
            <em>{{data.bloodGroup}}</em>
          </div>
          <div class="item item-input no-border content" ng-if="data.add">
            <i class="ion-location large location col-10"> </i>

            <a ng-click="openURL('http://maps.google.com/?q='+data.add)" class="normal-wrap">{{data.add}}</a>
          </div>
          <div class="item item-input no-border content" ng-if="data.officeAdd">
            <i class="ion-location large location col-10"> </i>

            <a ng-click="openURL('http://maps.google.com/?q='+data.officeAdd)" class="normal-wrap">{{data.officeAdd}}</a>
          </div>
        </div>
        <div class="padding" >
          <div class="text-center" ng-if="data.linkedin||data.twitterID||data.facebookID||data.instagramID||data.youtubeID||data.githubID"><h5>Social Links</h5>
            <a ng-if="data.linkedin" ng-click="openURL(data.linkedin)" class="button linkedin margin"><i
              class="ion-social-linkedin large"></i>
            </a>
            <a ng-if="data.twitterID" ng-click="openURL('http://www.twitter.com/'+data.twitterID)" class="button twitter margin"><i
              class="ion-social-twitter large"></i>
            </a>
            <a ng-if="data.facebookID" ng-click="openURL('http://www.facebook.com/'+data.facebookID)"
               class="button facebook margin"><i class="ion-social-facebook large"></i>
            </a>
            <a ng-if="data.instagramID" ng-click="openURL('http://www.instagram.com/'+data.instagramID)"
               class="button instagram margin"><i class="ion-social-instagram large"></i>
            </a>
            <a ng-if="data.youtubeID" ng-click="openURL('http://www.youtube.com/'+data.youtubeID)" class="button youtube margin"><i
              class="ion-social-youtube large"></i>
            </a>
            <a ng-if="data.githubID" ng-click="openURL('http://www.github.com/'+data.githubID)" class="button github margin"><i
              class="ion-social-github large"></i>
            </a>
          </div>
          <div class="text-center padding" ng-if="data.mob || data.officeNo" >

            <button class="button button-small button-balanced" ng-click="addContact()"><i class="ion-android-contact button-icon"></i>Add To Contact</button>


          </div>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
