<ion-view title="Share IDs" >
  <ion-nav-buttons side="secondary">
    <button class="button icon button-small ion-search" ui-sref="globalSearch">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="button-container">
          <ul class="list">
            <li class="item">
              <button class="button button-large button-royal" id="giveButton" ng-click="scanQR()">
                <i class="icon-left ion-qr-scanner padding-right"></i> Get ID
              </button>
            </li>
            <li class="item">
              <button class="button button-large button-balanced" id="getButton" ui-sref="giveId">
              <i class="icon-left ion-arrow-up-a padding-right" ></i> Give ID
              </button>
            </li>

            <li class="item">
              <button class="button button-assertive" id="createId" ui-sref="createId">
                <i class="icon-left ion-android-contact padding-right"></i>Create/Edit IDs
              </button>
            </li>
            <li class="item">
              <button class="button button-assertive" id="viewId" ui-sref="viewId">
                <i class="icon-left ion-android-contact padding-right"></i>View Scanned IDs
              </button>
            </li>
          </ul>
   </div>
  </ion-content>
</ion-view>
