<ion-view title="Share IDs" >
  <ion-nav-buttons side="secondary">
    <button class="button icon button-small ion-search" ui-sref="globalSearch">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list center">

      <div class="disc-container padding">

        <a class="disc center margin" id="giveButton" ng-click="scanQR()">
          <!--<i class="icon-left ion-qr-scanner"></i>-->Get
        </a>
        <a class="disc center margin" id="getButton" ui-sref="giveId">
          <!--<i class="icon-left ion-arrow-up-a " ></i>-->Give
        </a>

      </div>

            <li class="item">
              <button class="button button-balanced" id="createId" ui-sref="createId">
                <i class="icon-left ion-compose padding-right"></i>Create/Edit IDs
              </button>
            </li>
            <li class="item">
              <button class="button button-positive" id="viewId" ui-sref="viewId">
                <i class="icon-left ion-android-contact padding-right"></i>View Scanned IDs
              </button>
            </li>
          </ul>
  </ion-content>
</ion-view>
