<ion-view title="Share IDs" >
  <ion-content class="has-header">
    <div class="button-container">
          <ul class="list">
            <li class="item">
              <button class="button button-large button-royal" id="giveButton">
                <i class="icon-left ion-home" ></i> Give ID
              </button>
            </li>
            <li class="item">
              <button class="button button-large button-balanced" id="getButton" ui-sref="createId">
              <i class="icon-left ion-android-contact" ></i> Get ID
              </button>
            </li>
          </ul>
   </div>
  </ion-content>
</ion-view>
